# Python virtual environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Environment variables / secrets
.env
.env.*

# Packaging / build files
build/
dist/
*.egg-info/